<% provide(:title, 'Home') %>
<div class="row header">
	<div class="two columns">
	</div>
	<div class="eight columns">
		<h1><center>Welcome to Lightbulb.ph</center></h1>
		<h4>Lightbulb is an app where you can file like-minded individuals to get your ideas up and running</h4>
	</div>
	<div class="two columns">
	</div>
</div>
<div class="row">
	<div class="four columns home-columns">
		<center><h3>Abstract to Concrete</h3></center>
		Liightbulb is a place to find people who can help turn your ideas into actual projects.
	</div>
	<div class="four columns home-columns">
		<center><h3>Ideas are just ... ideas</h3></center>
		Let's face it. Unless you actually start making something, ideas are just ideas.
	</div>
	<div class="four columns home-columns">
		<center><h3>Let's get it done!</h3></center>
		Lightbulb allows you to post an idea or volunteer to work on an odea that you find interesting.
	</div>
</div>